
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    scroll-behavior: smooth;
    background: rgb(155, 155, 155);
    color: rgb(0, 0, 0);
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Poppins';
}
.navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
}
.navbar h1{
    color: rgb(255, 255, 255);
    font-weight: 800 bolder;
    font-family:Poppins;
    cursor: pointer;
}
.menulist{
   margin: 1rem;
   font-weight: 900;
   font-size: x-large;
   font-family: 'Poppins';
   cursor: pointer;
}
 .menulist:hover{
     color: rgb(255, 153, 0);
     padding-bottom: 0.5rem;
     border-bottom: 8px solid rgb(255, 153, 0);
}
.profile{
    height: calc(90vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}
.profile-content {
    font-weight: 700 bold;
    font-size: 3rem;
    padding: 2rem;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
    

}
.profile-content .Im{
    font-size: 1.75rem;
    font-weight: 100;
}
.profile-content .introname{
    color:rgb(255, 153, 0); 
    font-weight: 500;
}
.profile-content .para{
    font-size: medium;
    font-weight: 200 bold;
    margin: 6px;
}
.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 40px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: rgb(255, 148, 18);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
  
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color:rgb(238, 130, 29);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}
.marquee-inner-wrapper h3{
    font-size: xx-large;
    font-weight: 900;

}
.about-content{
    word-spacing: 1em;
    font-size: 24px;
    font-weight: 500 bolder;
}
 .contact-details-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.contact-details-wrapper p{
    font-weight: 700;
    font-family: 'Poppins';
}
.contact-title h3{
    font-size: xx-large;
    margin: 0;
    font-weight: 900;
}
.about-title {
    font-size: xx-large;
    margin: 0;
    font-weight: 900;
}
.project-title h3{
    font-size: xx-large;
    margin: 0;
    
}
 .contact-icons a{
    justify-content: space-evenly;
    margin: 20px;
    border: none;
}
.project-layer .project-links{
    font-size: xx-large;
    padding: 10px;
    margin: 12px;
    gap: 20px;
}
.project-title h3{
    font-size: 32px;
    font-weight: 800;
    font-weight: 900;
}
.project-layer p{
    font-size: 16px;
    font-weight: 500;
    word-spacing: 3px;
}
.project-layer .project-links a:hover{
        color: rgb(255, 153, 0);
}
.project-links a {
    text-decoration: none;
    color: black;
}
.contact-icons a .github,.linked, .gmail{
    width: 100px;
}
.menulist{
    float: right;
}

.menu{
    display: none;
    cursor: pointer;
   
}

@media  screen and (max-width:896px) {
    .Menubar{
        display: grid;
        align-items: center;
        margin: 12px;
        flex-wrap: wrap;
        
        
    }
    .menu{
        display: block;
        float: left;
        margin: 24px;
    }
    .Menubar .menulist{
        flex-direction: column;
        display: block;
        margin-right: 12px auto;
        width: 100px;
        top: 100px;
        
    }
    .Menubar .open{
        display: flex;
    }
    .menulist{
        display: none;
    }
  
    .about-section .section-title .img-box {
        width: 100%;
        
    }
    .about-section .About-details{
        display: grid;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'Poppins';
    }
    .about-section .About-details h6{
        font-size: 22px;
        font-weight: 500;
        
    }
    
    .contact-title  .contact-icons{
        display: grid;
        width: 50px;
    }
    .contact-icons a .github,.linked, .gmail{
        width: 70px;
    }
    .contact-icons p{
        font-size: 24px;
        font-weight: 500;
        font-family: "Poppins";
    }
    .marquee-wrapper .Marquee-section{
         width: 100%;
    }
    .Marquee-section img{
        width: 45px;
    }
    .project .project-section {
        width: 100%;
        display: grid;
        flex-wrap: wrap;
    }
    .project .project-section{
        width: 100%;
        justify-content: center;
        top: 50%;
        left: 50%;
        font-family: 'Poppins';
    }
    .project .project-section .project-layer h3{
        font-size: 24px;
    }
    .project .project-section .project-layer a{
        font-size: 26px;
        font-weight: 200;
        width: 100%;
    }
    .project .project-section .project-layer p{
        font-size: 14px;
        font-weight: 100 bold;
        width: 100%;
    }
    .profile-content .para{
        font-size: 16px bold;
        font-weight: 600;
        
    }
    .profile{
        font-family: 'Poppins';
    }
    .img-box img{
        margin-top: 10px;
    }
}

